img {
    max-height: 100%;
    max-width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 30vh;
    background: url("../images/header-background.svg");
    background-size: contain;
    background-attachment: fixed;
}
.header span{
    max-width :100%;
}
.header__image{
    max-height: 25%;
    max-width: 25%;
}
@media screen and (max-width:728px) {
    h1{
        font-size: 1.5rem;
    }
}
// posts scroll effect
[data-scroll] {
    transition: opacity 2s;
}
[data-scroll="in"] {
    opacity: 1;
}
[data-scroll="out"] {
    opacity: 0;
}